<%= form_for @startup do |f| %>
  <% if @startup.errors.any? %>
    <div class="error_message">
      <h2>Form is invalid</h2>
      <ul>
      <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_name %><br>
    <%= f.text_field :company_name %>
  </div>
  <div class="field">
    <%= f.label :founded %><br>
    <%= f.text_field :founded %>
  </div>
  <div class="field">
    <%= f.label :number_of_employees %><br>
    <%= f.text_field :number_of_employees %> 
  </div>
  <div class="field">
    <%= f.label :logo %><br>
    <%= f.text_field :logo %> 
  </div>

  <div class="action">
    <%= f.submit "Save" %>
  </div>
<% end %>