<%= form_for @startup do |f| %>
  <% if @startup.errors.any? %>
    <div class="error_message">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @startup.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_name %><br>
    <%= f.text_field :company_name %>
  </div>
  <div class="field">
    <%= f.label :founded %><br>
    <%= f.text_field :founded %>
  </div>
  <div class="field">
    <%= f.label :number_of_employees %><br>
    <%= f.text_field :number_of_employees %> 
  </div>
  <div class="field">
    <%= f.label :logo %><br>
    <%= f.text_field :logo %> 
  </div>

  <%= fields_for :account do |builder| %>
    <div class="field">
      <%= builder.label :email, "Email" %><br />
      <%= builder.text_field :email %>
    </div>
    <div class="field">
      <%= builder.label :industry, "Industry" %><br />
      <%= builder.text_field :industry %>
    </div>
    <div class="field">
      <%= builder.label :city, "City" %><br />
      <%= builder.text_field :city %> 
    </div>
    <div class="field">
      <%= builder.label :country, "Country" %><br />
      <%= builder.text_field :country %> 
    </div>
    <div class="field">
      <%= builder.label :description, "About Me" %><br />
      <%= builder.text_area :description %> 
    </div>
    <div class="field">
      <%= builder.label :password, "Password" %><br />
      <%= builder.password_field :password %>
    </div>
    <div class="field">
      <%= builder.label :password_confirmation, "Confirm Password" %><br />
      <%= builder.password_field :password_confirmation %>
    </div>

 
  <% end %>

  <div class="action">
    <%= f.submit "Save" %>
  </div>
<% end %>