<h1>Startups Index</h1>
<%= link_to "New Startup", "/startups/new" %>

<% @startups.each do |startup| %>
  <img src="<%= startup[:logo] %>">
  <p>
    <%= startup[:company_name] %>, <%= startup[:founded] %>, <%= startup[:number_of_employees] %>
  </p>
<% end %>