<h1>Startups</h1>

<% @startups.each do |startup| %>
  <p><%= startup[:company_name] %>, <%= startup[:contact_person] %>, <%= startup[:contact_person_email] %>, <%= startup[:industry] %>, <%= startup[:city] %>, <%= startup[:country] %>, <%= startup[:number_of_employees] %>
  <img src="<%= startup[:logo] %>">, <img src="<%= startup[:banner] %>">
<% end %>