<h1>Add a Startup</h1>
<%= form_tag "/startups" do %>
  <p>
    <%= label_tag "Company Name" %><br>
    <%= text_field_tag "company_name" %>
  </p>
  <p>
    <%= label_tag "Contact Person" %><br>
    <%= text_field_tag "contact_person" %>
  </p>
  <p>
    <%= label_tag "Contact Person's Email" %><br>
    <%= text_field_tag "contact_person_email" %>
  </p>
   <p>
    <%= label_tag "Industry" %><br>
    <%= text_field_tag "industry" %>
  </p>
  <p>
    <%= label_tag "City" %><br>
    <%= text_field_tag "city" %> 
  </p>
  <p>
    <%= label_tag "Country" %><br>
    <%= text_field_tag "country" %> 
  </p>
  <p>
    <%= label_tag "Number of Employees" %><br>
    <%= text_field_tag "number_of_employees" %> 
  </p>
  <p>
    <%= label_tag "Upload Logo" %><br>
    <%= text_field_tag "logo" %> 
  </p>
  <p>
    <%= label_tag "Upload Banner" %><br>
    <%= text_field_tag "banner" %>
  </p>
  <p>
    <input type="submit"/>
  </p>
</form>