<h1>Startup Profile</h1>
<%= link_to "Back to Startups", startups_url %> | <%= link_to "Edit", edit_startup_path(@startup) %>

  <p><%= startup[:company_name] %>, <%= startup[:contact_person] %>, <%= startup[:contact_person_email] %>, <%= startup[:industry] %>, <%= startup[:city] %>, <%= startup[:country] %>, <%= startup[:number_of_employees] %>
  <img src="<%= startup[:logo] %>">, <img src="<%= startup[:banner] %>">