<h1>Startup Profile</h1>

  <p><%= startup[:company_name] %>, <%= startup[:contact_person] %>, <%= startup[:contact_person_email] %>, <%= startup[:industry] %>, <%= startup[:city] %>, <%= startup[:country] %>, <%= startup[:number_of_employees] %>
  <img src="<%= startup[:logo] %>">, <img src="<%= startup[:banner] %>">