<h1>Startup Profile</h1>
<%= link_to "Back to Startups", startups_url %> | <%= link_to "Edit", edit_startup_path(@startup) %> | <%= link_to "Delete", @startup, :confirm => "Are you sure you want to delete your profile?", :method => :delete %>

  <img src="<%= startup[:logo] %>">
  <p>
    <%= startup[:company_name] %>, <%= startup[:founded] %>, <%= startup[:number_of_employees] %>
  </p>
  