<%= form_for @intern do |f| %>
  <% if @intern.errors.any? %>
    <div id="error_explanation">
      <h2><%= Form is invalid</h2>
      <ul>
        <% @intern.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :dob %><br />
    <%= f.text_area :dob %>
  </div>
  <div class="actions">
    <%= f.submit "Save", class: "button radius" %>
  </div>
<% end %>