<%= form_for @intern do |f| %>
  <% if @intern.errors.any? %>
    <div id="error_explanation">
      <h2>Form is invalid</h2>
      <ul>
        <% f.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :dob %><br />
    <%= f.text_area :dob %>
  </div>

  <%= f.fields_for :account do |builder| %>
    <!-- <%= render #file: "/app/views/accounts/_account_fields" %> -->
    <div class="field">
      <%= builder.label :email, "Email" %><br />
      <%= builder.text_field :email %>
    </div>
    <div class="field">
      <%= builder.label :industry, "Industry" %><br />
      <%= builder.text_field :industry %>
    </div>
    <div class="field">
      <%= builder.label :city, "City" %><br />
      <%= builder.text_field :city %> 
    </div>
    <div class="field">
      <%= builder.label :country, "Country" %><br />
      <%= builder.text_field :country %> 
    </div>
    <div class="field">
      <%= builder.label :description, "About Me" %><br />
      <%= builder.text_area :description %> 
    </div>
    <div class="field">
      <%= builder.label :password, "Password" %><br />
      <%= builder.password_field :password %>
    </div>
    <div class="field">
      <%= builder.label :password_confirmation, "Confirm Password" %><br />
      <%= builder.password_field :password_confirmation %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>