<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- Set the viewport width to device width for mobile -->
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="A new way to get an internship with startups" name="Description">
    <title>Entreprenology</title>
    <title><%= content_for?(:title) ? yield(:title) : "A new way to get an internship with startups" %></title>
    <%= csrf_meta_tags %>
    <link data-turbolinks-track="true" href=
    "https://dtu1xr3i3b2a1.cloudfront.net/cargo/build.application-ea6f5469422eed78f6a89df6e1177fcf.css"
    media="all" rel="stylesheet">
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  </head>
  <body>
    <div id="loading">&nbsp;</div>
    <nav id="lightning">
      <figure id="lightning_identifier">
        <a href="#">Entreprenology</a>
      </figure>
      <ul id="lightning_drop">

        <li class="home">
          <a class="home" href="/" style="color: #fff">ENTREPRENOLOGY</a>
        </li>

        <li class="twitter">
          <a class="twitter" href="https://twitter.com/entreprenology" target=
          "_blank">@entreprenology</a>
        </li>

        <li class="contact">
          <a class="contact" href="mailto:contact@entreprenolo.gy?subject=hi">Say
          hello</a>
        </li>

        <li class="signup">
          <a class="signup"
            <% if @current_user %>
              Logged in as : <%= @current_user.email %>
              <%= link_to "Log out", new_session_path %>
              <%= link_to "My Account", my_account_path %>
            <% else %>
              <%= link_to "Sign up", new_account_path %>
               <%= link_to "Log in", new_session_path %> 
            <% end %>
          </a>
        </li>

        <!-- <li class="login">
          <a class="login", <%= link_to #" Log in", new_session_path %>></a>
        </li>

        <li class="logout">
          <a class="logout", <%= link_to #"Log out", new_session_path, :method => :DELETE %></a>
        </li> -->

      </ul>
    </nav>
    <div class="large-8 columns"><%= yield %></div>
    <div class="large-4 columns">
      <p>
        Where does this come out?
      </p>
    </div>
  </body>
</html>
