<!DOCTYPE html>
<html>
<head>
  <title>Entreprenology Worldwide</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="headernav" class="nav">
    <ul class="nav-bar">
        <% if current_user %>
          <li class="nav=buttons" id="user-info">
          <%= link_to "Signed in as #{current_user.email}", root_path %>
          </li>
          <li class="nav-buttons">
            <%= link_to "Log out", new_session_path, :method => :DELETE %>
          </li>
        <% else %>
          <li class="nav-buttons">
            <%= link_to "Sign up", new_account_path %>
          </li>
          <li class="nav-buttons">
          <%= link_to " Log in", new_session_path %>
          </li>
        <% end %>
      </li>
      <li id="about"><a>About</a></li>
    </ul>
  </header>

  <% flash.each do |name, msg| %>
  <% content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

  <%= yield %>

  <!-- Javascript Libraries -->
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
</body>
</html>