<!DOCTYPE html>

<html ng-app="entreprenology" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Entreprenology" %></title>

    <link href=
    "https://dtu1xr3i3b2a1.cloudfront.net/cargo/build.application-ea6f5469422eed78f6a89df6e1177fcf.css"
    media="all" rel="stylesheet">
    <%= stylesheet_link_tag    "startup" %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <nav id="lightning">
        <figure id="lightning_identifier">
          <a href="#">Entreprenology</a>
        </figure>
        <ul id="lightning_drop">
          <li class="home">
            <a class="home" href="/" style="color: #fff">ENTREPRENOLOGY</a>
          </li>
          <li class="twitter">
            <a class="twitter" href="https://twitter.com/entreprenology" target="_blank">@entreprenology</a>
          </li>
          <li class="contact">
            <a class="contact" href="mailto:contact@entreprenolo.gy?subject=hi">Say hello</a>
          </li>
          <li class="signup"></li>
        </ul>
      </nav>
    </header>
    <div class="large-8 columns"><%= yield %></div>
    <div class="large-4 columns"></div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
