'<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />
  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  	<title><%= content_for?(:title) ? yield(:title) : "Internships For Startups" %></title>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- <header id="headernav" class="nav"> -->
    <nav class="top-bar"> 
      <!-- <ul class="nav-bar"> -->
      <ul class="title-area">
      <% if current_user %>
        <!-- <li class="nav=buttons" id="user-info">Signed in as --> 
        <li class="name">Signed in as<%= current_user.email %>
        </li>
      </ul>
      <% else %>
        <section class="top-bar-section">
          <ul class="right">
            <!-- <li class="nav-buttons"> -->
            <li class="divider"></li>
            <li><%= link_to "Log out", new_session_path, :method => :DELETE %>
            </li>
            <!-- <li class="nav-buttons"> -->
            <li class="divider"></li>
              <%= link_to "Sign up", new_account_path %>
            </li>
            <!-- <li class="nav-buttons"> -->
            <li class="divider"></li>
              <%= link_to " Log in", new_session_path %>
            </li>
            <li id="about"><a>About</a></li>
          </ul>
        </div>
      <% end %>
    </nav>

  <% flash.each do |name, msg| %>
  <% content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

  <div class="large-8 columns"><%= yield %></div>
  <div class="large-4 columns">

    <h2 class="subheader">About Us</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</body>
</html>
