<div class="field">
  <%= builder.label :email, "Email" %><br />
  <%= builder.text_field :email %>
</div>
<div class="field">
  <%= builder.label :industry, "Industry" %><br />
  <%= builder.text_field :industry %>
</div>
<div class="field">
  <%= builder.label :city, "City" %><br />
  <%= builder.text_field :city %> 
</div>
<div class="field">
  <%= builder.label :country, "Country" %><br />
  <%= builder.text_field :country %> 
</div>
<div class="field">
  <%= builder.label :description, "Company Description" %><br />
  <%= builder.text_area :description %> 
</div>
<div class="field">
  <%= builder.label :password, "Password" %><br />
  <%= builder.password_field :password %>
</div>
<div class="field">
  <%= builder.label :password_confirmation, "Confirm Password" %><br />
  <%= builder.password_field :password_confirmation %>
</div>
