<%= form_for @account do |f| %>
  <% if @account.errors.any? %>
    <div class="error_message">
      <h2>Form is invalid</h2>
      <ul>
      <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %><br/>
    <%= f.text_field :type %>
      <% if @account.type == "Intern" %>
        <%= render interns_new_path %>
      <% elsif @account.type == "Startup" %>
        <%= render startups_new_path %>
  </div>
  <div class="field">
    <%= f.label :email %><br/>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :industry %><br>
    <%= f.text_field :industry %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %> 
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %> 
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %> 
  </div>
  <div class="field">
    <%= f.label :password %><br/>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="action">
    <%= f.submit "Save" %>
  </div>
<% end %>